<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>259952025912-beliudn3qne4oihnm9tqkhck0ctn6kdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.259952025912-beliudn3qne4oihnm9tqkhck0ctn6kdd</string>
	<key>API_KEY</key>
	<string>AIzaSyD89ygW_D9uVWKqkiH-f7UId9x6LbesL74</string>
	<key>GCM_SENDER_ID</key>
	<string>259952025912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JulioRobles.MarvelApp</string>
	<key>PROJECT_ID</key>
	<string>marvelappjr</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelappjr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:259952025912:ios:aa792f178dd860dbd561cd</string>
</dict>
</plist>